{% extends 'CoreBundle::layout.html.twig' %}

{% block core_title %}Liste de mes animaux{% endblock %}

{% block core_body %}
    {% if animals is not empty %}

        {{ include('CoreBundle:Core:addButton.html.twig') }}

        <table class="table table-bordered">
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Action</th>
            </tr>

            {% for animal in animals %}
                <tr {{ addAnimalColor(animal) }}>
                    <td>{{ animal.name }}</td>
                    <td>{{ animal }}</td>
                    <td>
                        <a href="{{ path('core_edit', {'id': animal.id}) }}" style="color: #333;"><span class="glyphicon glyphicon-edit"></span></a>
                        &nbsp;
                        <a href="{{ path('core_delete', {'id': animal.id, 'csrf_token': csrf_token(secret)}) }}"
                           style="color: #333;" class="delete_link">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
            <p>Il n'y a rien à afficher !</p>
    {% endif %}

    {{ include('CoreBundle:Core:addButton.html.twig') }}

    <div class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Êtes-vous sûr de vouloir supprimer ce pauvre animal ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <a href="#" class="btn btn-primary">Supprimer</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block core_javascript %}
    <script type="text/javascript" src="{{ asset('js/confirmDeletion.js') }}"></script>
{% endblock %}
